<html>

<head>
<!--<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>-->


<body>
<div class = 'pane'>
    <h1>Board-game Companies</h1>

    <a href="{{url_for('newCompany')}}" >
			  <h3> Create a New Company </h3>
		</a>


    {% for company in companies %}
    <div>
         <a href = "{{url_for('showboardgame',company_id = company.id)}}">
             <p>
               {{company.name}}

             </p>
         </a>

         <a href = "{{url_for('editCompany',company_id = company.id)}}">
           <p>
             edit
           </p>
         </a>

         <a href = "{{url_for('deleteCompany',company_id = company.id)}}">
          <p>
            delete
          </p>
        </a>

    </div>


    {% endfor %}



</div>
</body>

</html>
